body{
  background-color:  rgba(0, 0, 0, 0.904)

}

nav{
    display: flex;
    max-width: 776px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    @import url ('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1,700 & display = swap');



}
nav .nav_1{
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:white;

}
.nav{
    display: flex;
    justify-content: flex-start

}
.nav li{
    display: flex;
    justify-content:flex-end;
    padding: 0 20px;
}
.nav li  a{
   display: flex; 
   text-decoration: none;
   right: 25px;
   font-size: 20px;
   font-weight: 900; 

   color: white;
}
a:hover{
   
   border-bottom: 5px solid;
}
.nav li a:hover{
    
     border-bottom: 5px solid;

}
@media(max-width:700px){
    nav {
        flex-direction:column ;
    }
    
}

header{
    display: flex;
    align-content: stretch;
    max-width: 776px;
    margin: 0 auto;
    

}
.header{
    display: flex;
    
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
   font-weight: 900;
}
p{
 font-size: 25px; 
 font-weight: 600;
 color: white;
 max-width: 557px;text-align: center;
 line-height: 30px;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

